@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "leaflet.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
a{
    text-decoration: none;
}
label{
    font-size:.8em;
    font-weight: bold;
}
body{
    background-color: #eae6e6;
}


.row{
    padding:0;
    margin:0;
}
.wigedits{
    display:flex;
    justify-content: space-evenly;
}

.wigedit-dashboard{
    width:12em;
    height:12em;
    border-radius: 6px;
    background: #e0e0e0;
    box-shadow:  21px 21px 43px #c3c3c3,
    -21px 21px 43px #fdfdfd;
    transition: .5s ease;
    text-align: center;
   padding-top:2em;

}

.wigedit-dashboard h5{
    font-weight: bold;
}
.wigedit-dashboard:hover{
    box-shadow:  21px 21px 43px #c3c3c3;
}



.wiget-error{
    width:17em;
    height:8em;
    border-radius: 6px;
    background: #e0e0e0;
    box-shadow:  21px 21px 43px #c3c3c3,
    -21px 21px 43px #fdfdfd;
    transition: .5s ease;
    text-align: center;
    padding-top:2em;

}


/*===================================laptop===============================*/

.create-laptop{
    width:25em;
    height:5em;
    border-radius: 5px;
    background: #000000;
    color: #fff;
    box-shadow:  21px 21px 43px #c3c3c3;
    text-align: center;
    padding-top:20px;
    transition: .9s ease;
}
.create-laptop:hover{
    box-shadow:  21px 11px 13px #c3c3c3;
    background:#e0e0e0 ;
    color: #1a202c;
}

.input-search{
    width:70em;
    height: 2.5em;
    transform: translateX(-4em);
}




/*==========================create digital tools==============*/

.form-create{
    background: #f3eeee;
    border-radius: 15px;
    border: 1px #ddd solid;
    padding:10px;
    box-shadow:  20px 20px 60px #beb3b3,
    -20px -20px 60px #fff3f3;
}
/*====================================show digital tools================*/
.transfer{

    background: #f3eeee;
    height: 70vh;
    overflow-y: scroll;
    font-size: .8em;
}
